<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Olá, <%= @user.name %></h1>
        <p>Você solicitou a recuperação de senha! <br></p>
        <p>Sua nova senha temporária é <%= @password %></p>
        <p>Caso não reconheça essa solicitação, desconsidere esse email.</p>
    </body>
</html>